<footer class="w-full bg-black border-t border-white">
  <div
    class="sm:px-[1rem] lg:px-[2rem] m-auto relative p-0 justify-between flex"
  >
    <div class="flex flex-col text-gray-400/80 py-4 text-[13px] gap-y-1">
      <p>
        © 2024 - Todos los derechos reservados - Creado y diseñado por
        <a href="https://www.junasoft.com/" target="_blank">
          <span class="text-cyan-500 hover:underline cursor-pointer font-bold"
            >JUNASOFT</span
          >
        </a>
      </p>
    </div>
    <div class="flex justify-center items-center opacity-30">
      <span class="text-2xl text-white cursor-pointer flex" routerLink=""
        ><img src="./assets/unpocodetodo.png" alt="" class="h-10 inline" />
        <p class="text-[18px]">JUNASOFT</p></span
      >
    </div>
  </div>
</footer>
