<div
  class="w-full items-center relative justify-center text-center card"
  id="subHero"
  name="subHero"
>
  <div
    class="text-white gap-2 grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-1 py-6 content px-8 sm:px-[1rem] lg:px-[4rem]"
  >
    <div class="w-full border-x-4 border-cyan-500">
      <div class="flex px-10 py-2 text-left gap-4 items-center">
        <i class="fa-solid fa-phone-volume flex text-[50px]"></i>
        <div class="flex flex-col">
          <p class="font-bold uppercase">Celular</p>
          <p class="text-sm hover:cursor-auto">3547 - 123456</p>
        </div>
      </div>
    </div>
    <div class="w-full">
      <div class="flex px-10 py-2 text-left gap-4 items-center">
        <i class="fa-solid fa-clock flex text-[50px]"></i>
        <div class="flex flex-col">
          <p class="font-bold uppercase">Horarios</p>
          <p class="text-sm hover:cursor-auto">
            Lun - Viernes 9hs a 13hs y 17hs a 21hs
          </p>
        </div>
      </div>
    </div>
    <div class="w-full border-x-4 border-cyan-500">
      <div class="flex px-10 py-2 text-left gap-4 items-center">
        <i class="fa-solid fa-envelope flex text-[50px]"></i>
        <div class="flex flex-col">
          <p class="font-bold uppercase">Email</p>
          <p class="text-sm hover:cursor-auto">odontología@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
