<div class="relative flex w-full h-full">
  <section class="hero max-h-full w-full">
    <div
      class="py-8 w-full grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 sm:px-[1rem] lg:px-[4rem] m-auto relative"
    >
      <div
        class="h-full text-white w-full flex flex-col text-start font-nunito gap-y-4 py-[200px]"
      >
        <p class="text-2xl tracking-widest">CUIDADO DENTAL</p>
        <h1
          class="p-0 space-x-10 uppercase tracking-widest lg:leading-tight md:leading-tight lg:text-[60px] md:text-[50px] sm:text-4xl"
        >
          para tu
          <strong
            >nueva <br />
            sonrisa</strong
          >
        </h1>
        <a href="#sobre-nosotros">
          <button
            class="border border-white hover:bg-cyan-500 hover:border-cyan-500 font-bold duration-500 px-6 py-2 text-base text-white rounded-md"
          >
            Conocé más
          </button>
        </a>
      </div>
    </div>
  </section>
</div>
<app-sub-hero></app-sub-hero>
<app-about-us></app-about-us>
<app-servicios></app-servicios>
<app-sacar-turno></app-sacar-turno>
<app-donde-estamos></app-donde-estamos>
