<section class="max-h-full w-full sm:px-[1rem] lg:px-[4rem] m-auto my-8">
  <div class="w-full mb-8 text-center flex flex-col">
    <p class="text-cyan-500 font-semibold text-base uppercase">conocenos</p>
    <h2 class="text-3xl font-semibold uppercase">quienes somos</h2>
  </div>
  <div
    class="w-full h-full grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 relative gap-4"
  >
    <div class="pic mx-auto">
      <img src="./assets/nenes.png" alt="" class="object-cover rounded-lg" />
    </div>
    <div class="flex flex-col gap-y-2 px-5 py-2">
      <h2
        class="tracking-widest lg:leading-tight md:leading-tight lg:text-[30px] md:text-[20px] uppercase"
      >
        La mejor <strong class="text-cyan-500">clínica dental</strong> en la que
        puedes confiar
      </h2>
      <div class="flex flex-col text-xs text-[#8f8f8f] gap-4">
        <p class="text-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum amet id
          autem aliquam alias officiis consequatur, magnam reiciendis quos
          numquam quidem vitae facilis? Quos sint officiis eaque consequatur?
          Veniam, molestias. Lorem ipsum dolor, sit amet consectetur adipisicing
          elit. Beatae corrupti est laboriosam alias, totam fugit, explicabo
          ratione magnam velit a optio dicta eius officia ab! Consectetur esse
          quibusdam perspiciatis molestiae.
        </p>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex gap-2 items-center text-base text-black">
            <i class="fa-solid fa-circle-check text-cyan-500"></i>
            <p class="font-semibold">Equipo moderno</p>
          </div>
          <div class="flex gap-2 items-center text-base text-black">
            <i class="fa-solid fa-circle-check text-cyan-500"></i>
            <p class="font-semibold">Clínica confortable</p>
          </div>
          <div class="flex gap-2 items-center text-base text-black">
            <i class="fa-solid fa-circle-check text-cyan-500"></i>
            <p class="font-semibold">Facilidad para obtener un turno</p>
          </div>
          <div class="flex gap-2 items-center text-base text-black">
            <i class="fa-solid fa-circle-check text-cyan-500"></i>
            <p class="font-semibold">Siempre monitoreando</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
