<section
  class="max-h-full w-full sm:px-[1rem] lg:px-[4rem] m-auto my-8"
  id="donde-estamos"
>
  <div class="w-full text-start flex flex-col">
    <p class="text-cyan-500 font-semibold text-base uppercase">
      nuestra ubicación
    </p>
    <h2 class="text-3xl font-semibold uppercase">¿dónde estamos?</h2>
  </div>
  <div class="py-8 w-full flex mx-auto relative">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13584.70507853566!2d-64.45424164458008!3d-31.656396899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942d50b5b8c1f66d%3A0x55977b7f50e52d22!2sTajamar!5e0!3m2!1ses-419!2sar!4v1689039008715!5m2!1ses-419!2sar"
      height="450"
      style="border: 0; background-color: black"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full"
    ></iframe>
  </div>
</section>
