<section
  class="max-h-full w-full sm:px-[1rem] lg:px-[4rem] m-auto my-8"
  id="servicios"
>
  <div class="bg-cyan-100/50 p-4">
    <div class="w-full mx-auto flex">
      <div class="mx-auto lg:flex sm:block gap-4">
        <img src="../assets/dienteFamilia.png" alt="" class="h-40 mx-auto" />
        <div class="flex flex-col gap-y-8">
          <h2 class="uppercase">
            ¡Reserva tu turno hoy para <br />
            <span class="text-cyan-500">definir tu sonrisa!</span>
          </h2>
          <button
            class="bg-cyan-500 hover:bg-cyan-600 font-bold duration-500 px-6 py-2 text-base text-white rounded-md"
          >
            SACAR TURNO
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
